*{
 list-style-type: none;
 text-decoration-line: none;
 color: #474747;
 padding-inline-start: 0;
}
#grid{
    display: grid;
    grid-template-columns: 300px 1fr;
}
.head{
    text-align: center;
    font-size: 32pt;
}
.navtext1{
    color: #868686;
    font-size: 20pt;
    font-weight: bold;
}
.navtext2{
    color: #868686;
    font-size: 20pt;
}
.navtextch{
    color: #FFFFFF;
    font-size: 20pt;
    font-weight: bold;
}
.mainhead{
    color: #565656;
    font-size: 20pt;
    font-weight: bold;
}
.maintext1{
    color: #565656;
    font-size: 16pt;
}

nav{
    border-right: 2px solid #DEE9FD;
    height: 1000px;
    width: 270px;
    padding-inline-start: 10;
}
header{
    border-bottom: 2px solid #DEE9FD;
    height: 100px;
}
li.navtext1{
    width: 250px;
    height: 45px;
    padding-left: 20px;
}
li.navch1{
    width: 230px;
    background-color: #ADC6F6;
    padding-left: 40px;
    padding-top:8px;
    padding-bottom: 8px;
}
li.navtext2{
    width: 230px;
    background-color: #FFEFF0;
    padding-left: 40px;
    padding-top:8px;
    padding-bottom: 8px;
}
li.navch2{
    width: 230px;
    background-color: #F8CACC;
    padding-left: 40px;
    padding-top:8px;
    padding-bottom: 8px;
}