nav{
    border-right: 2px solid #DEE9FD;
    height: 1000px;
    width: 270px;
    padding-inline-start: 10;
}
.manu1{
    color: #868686;
    font-size: 20pt;
    font-weight: bold;
}
.manu2{
    color: #868686;
    font-size: 20pt;
}
.manu1-ch{
    color: #FFFFFF;
    font-size: 20pt;
    font-weight: bold;
    
}
li.manu1{
    width: 250px;
    height: 45px;
    padding-left: 20px;
}
li.manu1-ch{
    width: 250px;
    background-color: #ADC6F6;
    padding-top:8px;
    padding-left: 20px;
    padding-bottom: 8px;
}
li.manu2{
    width: 230px;
    background-color: #FFEFF0;
    padding-left: 40px;
    padding-top:8px;
    padding-bottom: 8px;
}
li.manu2-ch{
    width: 230px;
    background-color: #F8CACC;
    padding-left: 40px;
    padding-top:8px;
    padding-bottom: 8px;
}